<table>

	<tr>
		<td><b>Item</b></td>
		<td><b>Quantity</b></td>
		<td><b>Price</b></td>
		<td></td>
	</tr>

	<tr ng-hide="cart.getTotalCount() > 0" >
		<td colspan="4">Your cart is empty. </td>
	</tr>

	<tr ng-repeat="item in cart.items | orderBy:'name'">
		<td>{{item.name}}</td>
		<td>
			<div>
				<!-- use type=tel instead of number to prevent spinners -->
				<input
					type="tel" 
					ng-model="item.quantity" ng-change="cart.saveItems()" />
				<button 
					type="button" 
					ng-disabled="item.quantity >= 1000"
					ng-click="cart.addItem(item.sku, item.name, item.price, +1)">+
				</button>
				<button 
					type="button" 
					ng-disabled="item.quantity <= 1"
					ng-click="cart.addItem(item.sku, item.name, item.price, -1)">-
				</button>
			</div>
		</td>
		<td>{{item.price * item.quantity | currency}}</td>
		<td title="remove from cart">
			<a href="" ng-click="cart.addItem(item.sku, item.name, item.price, -10000000)" >
				remove
			</a>
		</td>
	</tr>

	<tr>
		<td><b>Total</b></td>
		<td><b>{{cart.getTotalCount()}}</b></td>
		<td><b>{{cart.getTotalPrice() | currency}}</b></td>
		<td></td>
	</tr>

</table>