* {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	overflow-y: scroll;
	color: $text-color-dark;
	margin: 0;
}

a {
	color: #003399;
}

.btn {
	margin: 0 0 10px;;
	outline: 0 none;
	background: none;
	border-radius: 3px;
	border: 0 none;
	cursor: pointer;
	padding: 5px 10px;
	font-size: 1em;
	&.btn-primary {
		background: #e47911;
		color: #fff;
		&:hover {
			background: #e07005;
		}
	}
}

.page-wrapper {
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
}

.header-main {
	@include clearfix;
	margin: 20px 0;
}

.logo {
	@include clearfix;
	color: #000;
	line-height: 40px;
	font-size: 1.8em;
	text-decoration: none;
	font-weight: 100;
	float: left;
	img {
		float: left;
		margin-right: 10px;
	}
}

.emotion {
	img {
		max-width: 100%;
	}
}

.cart-wrapper {
	@include clearfix;
	margin: 20px 0;
	.cart-anchor {
		color: #e47911;
		font-weight: bold;
		text-decoration: none;
		float: right;
	}
}

.footer-main {
	margin: 20px 0;
	text-align: center;
	color: #555;
	font-size: 0.9em;
}