<div class="cart-wrapper">
	<a class="cart-anchor" href="/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
		<span ng-bind="cart.getTotalCount()"></span> items, <span ng-bind="cart.getTotalPrice() | currency">
	</a>
</div>

<div class="product-detail">

	<div class="wrapper">

		<div class="left">
			<div class="product">
				<div class="left">
					<img ng-src="img/products/{{product.sku}}.jpg" alt="{{product.name}}"/>	
				</div>
				<div class="right">
					<h2>{{product.name}}</h2>
					<p>{{product.description}}</p>		
				</div>
			</div>
		</div>

		<div class="right">
			<button
				class="btn btn-primary"
				ng-click="cart.addItem(product.sku, product.name, product.price, 1)">
				<i class="icon-shopping-cart icon-white" /> add to cart
			</button>
		</div>

	</div>
	
	<div class="products seeded">
	
		<div class="item" ng-repeat="product in store.products | orderBy:'name' | filter:search">
			<a class="img-anchor" href="/products/{{product.sku}}">
				<img ng-src="img/products/{{product.sku}}.jpg" alt="{{product.name}}" />
			</a>
			<a class="name" href="/products/{{product.sku}}" ng-bind="product.name"></a>
			<span class="price" ng-bind="product.price | currency"></span>
		</div>
	
	</div>

</div>