<p class="text-info">
	Thanks for shopping at the Angular Store.
	<br>
	This is your shopping cart. Here you can edit the items, 
	go back to the store, clear the cart, or check out.
</p>



<!-- items -->
<table>

	<!-- header -->
	<tr>
		<td><b>Item</b></td>
		<td><b>Quantity</b></td>
		<td><b>Price</b></td>
		<td></td>
	</tr>

	<!-- empty cart message -->
	<tr ng-hide="cart.getTotalCount() > 0" >
		<td colspan="4">
			Your cart is empty.
		</td>
	</tr>

	<!-- cart items -->
	<tr ng-repeat="item in cart.items | orderBy:'name'">
		<td>{{item.name}}</td>
		<td>
		<!-- use type=tel instead of  to prevent spinners -->
		<input
			type="tel" 
			ng-model="item.quantity" 
			ng-change="cart.saveItems()" />
		<button 
			type="button" 
			ng-disabled="item.quantity >= 1000"
			ng-click="cart.addItem(item.sku, item.name, item.price, +1)">+</button>
		<button 
			type="button" 
			ng-disabled="item.quantity <= 1"
			ng-click="cart.addItem(item.sku, item.name, item.price, -1)">-</button>
		</td>
		<td>{{item.price * item.quantity | currency}}</td>
		<td title="remove from cart">
			<a href="" ng-click="cart.addItem(item.sku, item.name, item.price, -10000000)" >
				remove
			</a>
		</td>
	</tr>

	<!-- footer -->
	<tr>
		<td><b>Total</b></td>
		<td><b>{{cart.getTotalCount()}}</b></td>
		<td><b>{{cart.getTotalPrice() | currency}}</b></td>
		<td></td>
	</tr>

</table>

<p class="text-info">
	<button 
		onclick="window.location.href='index.html'">
		<i class="icon-chevron-left" /> back to store
	</button>
	<button 
		ng-click="cart.clearItems()" 
		ng-disabled="cart.getTotalCount() < 1" >
		<i class="icon-trash icon-white" /> clear cart
	</button>
</p>

<br>
<br>

<button
	ng-click="cart.checkout('PayPal')"
	ng-disabled="cart.getTotalCount() < 1">
	<i class="icon-ok icon-white" /> check out using PayPal
</button>
<button 
	ng-click="cart.checkout('Google')" 
	ng-disabled="cart.getTotalCount() < 1">
	<i class="icon-ok icon-white" /> check out using Google
</button>
<button 
	ng-click="cart.checkout('Stripe')" 
	ng-disabled="cart.getTotalCount() < 1">
	<i class="icon-ok icon-white" /> check out using Stripe
</button>

<!-- Stripe needs a form to post to -->
<form class="form-stripe"></form>

<br>
<br>

<p>
	<button 
		class="btn btn-block btn-link"
		ng-click="cart.checkout('PayPal')"
		ng-disabled="cart.getTotalCount() < 1" >
		<img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" alt="checkout PayPal"/>
	</button>    
	<button 
		class="btn btn-block btn-link" 
		ng-click="cart.checkout('Google')" 
		ng-disabled="cart.getTotalCount() < 1" >
		<img src="img/google-wallet.gif" alt="checkoutGoogle"/>
	</button>    
</p>